  <footer class="footer">
    <div class="footer-container">
      <p>
        Maintained by the glorious interns at<br/>
        <a target="_blank" href='http://madglory.com'><img class="footer-madglory-logo" src='/images/common-images/MadGlory-Logo.svg'/></a>
      </p>
      <p>- Contribute on <a href="<%-planetSpecificData.footer.githubLink%>">Github</a> -</p>
      <p>- Subscribe to our RSS <a href="/feed">feed</a> -</p>
    </div>
  </footer>


  <script src="/js/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fd7768413d24ce9"></script>
  <script type="text/javascript" src="/js/select2.js"></script>
  <script type="text/javascript" src="/js/xdate.js"></script>
  <script type="text/javascript" src="/js/format-dates.js"></script>
  <script type="text/javascript" src="/js/preserve_queries.js"></script> 