/* ----------------------------------------------------------------------------------- */

/* GENERAL
/*----------------------------------------------------------------------------------- */

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', Arial, sans-serif;
    overflow-x: hidden;
}
h1, h2 {
    font-family: 'Open Sans', Arial, sans-serif;
    margin-top: 0;
    color: #606060;
    margin-bottom: 10px;
    font-weight: 600;
}
h1 {
    font-size: 35px;
    line-height: 40px;
}
h2 {
    font-size: 22px;
    line-height: 28px;
}
hr {
    border: none;
    border-bottom: 1px solid #e1e1e1;
}
hr {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* ----------------------------------------------------------------------------------- */

/* BUTTON
/*----------------------------------------------------------------------------------- */

.btn {
    margin-bottom: 10px;
    margin-right: 4px;
    padding: 10px 20px 10px 20px;
    font-weight: 800;
    font-size: 13px;
    text-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    letter-spacing: 1px;
}
.btn:hover, .btn:focus, .btn:active {
    background: inherit;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: .8;
}
/* ----------------------------------------------------------------------------------- */

/* FORMS
/*----------------------------------------------------------------------------------- */

input[type="text"] {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #737373;
    border: 1px solid #595959 !important;
    resize: none;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
input[type="text"]:focus {
    border: 1px solid #c1c1c1;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* ----------------------------------------------------------------------------------- */

/* NAV
/*----------------------------------------------------------------------------------- */

.navbar {
    font-family: 'Open sans';
    background: #2c2c2c !important;
}
.navbar-header {
    background-color: #2c2c2c;
}
.navbar-default {
    background-color: #2c2c2c;
}
.navbar-default .navbar-toggle {
    border-color: #2c2c2c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #b3b3b3;
    background: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-toggle {
    margin-right: 25px;
    margin-top: 19px;
}
.logo {
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    background-repeat: no-repeat;
    padding-left: 105px;
    color: white;
    background-position: right 0px top 4px;
    font-weight: 300;
}
.navbar-brand {
    height: 70px;
    padding: 0px;
}
.navbar-form {
    margin-bottom: 0 !important;
    margin-top: 0px !important;
    border: none;
    padding-top: 15px;
}
.navbar form input, .navbar form .btn {
    margin-bottom: .5px !important;
    height: 40px;
    color: white;
    border-radius: 3px;
    display: inline-block;
}
.form-group {
    width: auto;
    display: inline-block;
}
.navbar-default .navbar-collapse {
    border: none;
}
.navbar form .btn {
    margin-right: 12px !important;
}
/* ----------------------------------------------------------------------------------- */

/* POST
/*----------------------------------------------------------------------------------- */

h2.post-title {
    font-size: 1.8em;
    margin-bottom: 10px;
    line-height: 30px;
}
.post-title a {
    color: #606060 !important;
}
.post-title a:hover {
    opacity: .8;
}
#articles {
    background-color: white;
    margin-top: 100px;
    margin-bottom: 30px;
}
.post-description p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 30px;
    /* width: 100%;
    */
    word-wrap: break-word;
}
.classic-blog h2.post-title {
    margin: 0;
}
.tag {
    display: inline-block;
    height: 30px;
    border: 1px solid green;
}
/* ----------------------------------------------------------------------------------- */

/* FOOTER
/*----------------------------------------------------------------------------------- */

.footer {
    background: #303030;
    color: #cacaca;
}
.footer-container {
    padding: 20px;
    padding-top: 40px;
    height: 100%;
}
.footer-container p {
    text-align: center;
    line-height: 1.7em;
}
.pagination {
    margin-top: 0 !important;
}
.pagination>li>a {
    color: #555555 !important;
}
.footer-madglory-logo {
    width: 130px !important;
}
/* ----------------------------------------------------------------------------------- */

/* Sticky Footer by Ryan Fait
/*  http://ryanfait.com/
/*----------------------------------------------------------------------------------- */

html, body {
    height: 100%;
}
.container {
    min-height: 100% !important;
    height: auto !important;
    height: 100%;
}
.footer-offset {
    height: 200px;
}
.footer {
    position: relative;
    margin-top: -200px;
    height: 200px;
    clear: both;
}
/* ----------------------------------------------------------------------------------- */

/* MEDIA QUERIES
/*----------------------------------------------------------------------------------- */

@media (max-width: 480px) {
    h2.post-title {
        font-size: 1.3em;
    }
    .logo {
        font-family: 'Open Sans', sans-serif;
        margin-top: 15px;
        /* background-image: url('/images/planetnodejs-logo.svg');
        */
        background-repeat: no-repeat;
        padding-left: 80px;
        color: white;
        background-position: right -18px top 7px;
        font-weight: 300;
        font-size: 1.4em;
    }
    .navbar-default .navbar-collapse {
        border: none;
    }
    .navbar form .btn {
        margin-right: 0px !important;
    }
    .navbar-form {
        margin-bottom: 0 !important;
        margin-top: 0px !important;
    }
}
@media (max-width: 767px) {
    h2.post-title {
        font-size: 1.3em;
    }
    .form-group {
        width: 65%;
        display: inline-block;
    }
}
