// file - _planetSpecific.scss
/*	
	
*/
.logo span {
    color: $accent_color;
}
.logo{
	background-image: url($logo_image);
	background-position: $background_position_desktop;
}
a {
    color: $accent_color;
}
.btn,
.btn-submit {
    background: $accent_color !important;
}

@media (max-width: 480px) {
    .logo {
        background-position: $background_position_mobile;
    }
}
