// file - _planetSpecific.scss
/*	
	
*/
.logo span {
    color: $accent_color;
}
.logo{
	background-image: url($logo_image);
}
a {
    color: $accent_color;
}
.btn,
.btn-submit {
    background: $accent_color !important;
}
