.select2-choices{
	padding: 0;
}
ul.select2-choices{
	list-style: none;
}
.select2-search-choice{
	display: inline-block;
	margin-right: 5px;
	padding:5px;
	background:	green;
}

.select2-search-field{
	label{
		display: none;
	}
	li{
		width: 100% !important;
	}
	input{
		width: 100% !important;
	}
}