// file - main.scss
@import "commonStyles";
html.planet_angular {
    $accent_color: #e52a3a;
    // $logo_image: '/images/logo-planet_angular.svg';
    $logo_image: '';
    $background_position_desktop: right 35px top 4px;
    $background_position_mobile: right -20px top 5px;
    /*  
      Styles for planet_angular
    */
    @import "planetSpecific";
  }
html.planet_backbone {
    $accent_color: #0071b5;
    //$logo_image: '/images/logo-planet_backbone.svg';
    $logo_image: '';
    $background_position_desktop: right 35px top 4px;
    $background_position_mobile: right 35px top 4px;
    /*  
      Styles for planet_backbone
    */
    @import "planetSpecific";
  }
html.planet_ember {
    $accent_color: #fa7f57;
    //$logo_image: '/images/logo-planet_ember.svg';
    $logo_image: '';
    $background_position_desktop: right 35px top 4px;
    $background_position_mobile: right 35px top 4px;
    /*  
      Styles for planet_ember
    */
    @import "planetSpecific";
  }
html.planet_jquery {
    $accent_color: #0769ad;
    //$logo_image: '/images/logo-planet_jquery.svg';
    $logo_image: '';
    $background_position_desktop: right 35px top 4px;
    $background_position_mobile: right 35px top 4px;
    /*  
      Styles for planet_jquery
    */
    @import "planetSpecific";
  }
html.planet_node {
    $accent_color: #6ca02e;
    $logo_image: '/images/logo-planet_node.svg';
    $background_position_desktop: right 0px top 4px;
    $background_position_mobile: right 35px top 4px;
    /*  
      Styles for planet_node
    */
    @import "planetSpecific";
  }
