
/*-----------------------------------------------------------------------------------*/
/*  GLOBAL
/*-----------------------------------------------------------------------------------*/

.logo span {
    color: #fa7f57;
}
.navbar-default .navbar-nav>li>a{
    background: #47483d;
}


a {
    color: #f68f7c;
    /*-webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;*/
}
a:hover,
a:focus {
    color: #47483d;
    /*text-decoration: none;*/
}

/*-----------------------------------------------------------------------------------*/
/*	BUTTON
/*-----------------------------------------------------------------------------------*/
.btn,
.parallax .btn-submit,
.btn-submit {
    opacity: .9; color: #fff !important;
    background: #fa7f57 !important;
}

