
/*-----------------------------------------------------------------------------------*/
/*  GLOBAL
/*-----------------------------------------------------------------------------------*/

.logo span {
    color: #0071b5;
}
.navbar-default .navbar-nav>li>a{
    background: #2c2c2c !important;
}

a {
    color: #0071b5;
    /*-webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;*/
}
a:hover,
a:focus {
    color: #002a41;
    /*text-decoration: none;*/
}

/*-----------------------------------------------------------------------------------*/
/*	BUTTON
/*-----------------------------------------------------------------------------------*/
.btn,
.parallax .btn-submit,
.btn-submit {
    color: #fff !important;
    background: #0071b5 !important;
}

