
/*-----------------------------------------------------------------------------------*/
/*  GLOBAL
/*-----------------------------------------------------------------------------------*/

.logo span {
    color: #e52a3a;
}
.navbar-default .navbar-nav>li>a{
    background: #47483d;
}
a {
    color: #b82934;
    /*-webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;*/
}
a:hover,
a:focus {
    color: #47483d;
    /*text-decoration: none;*/
}

/*-----------------------------------------------------------------------------------*/
/*	BUTTON
/*-----------------------------------------------------------------------------------*/
.btn,
.parallax .btn-submit,
.btn-submit {
    color: #f2f2f2 !important;
    background: #b82934 !important;
}

